#root{
  display: flex;
align-items: center;
justify-content: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  
background: linear-gradient(90deg, #008080 0%, #800080 100%);
}

Form {
  width: 500px;
}
