*{
  background-color: #ECE9F2;
}

.container{
  position: absolute;
  top: 20%;
  left: 10%;
  background-color: #876151;
}

h2{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #876151;

}

div input[type='text']{
  width: 80%;
  display: inline;
  margin-left: 100px;
}

.empty p{
  color: whitesmoke;
  margin: 10px;
  background-color: #87515d;

}

.add-todo{
  margin-bottom: 5px;
}

.todo{
  width: 80%;
  margin: auto;
  margin-top: 15px;
}